<!DOCTYPE html>
<html>
<head>
    <title><%= checker.file %>.cpp</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1><%= checker.file %>.cpp</h1>
        <%= checker.description %><br>
        <code><%= code %></code><br>
        <a href="/checkers"><button type="button">Checkers</button></a>
    <% if (user && user.admin) { %>
        <a href="/checkers/edit/<%= checker.file %>"><button type="button">Edit</button></a>
        <form method="POST" action="/checkers/delete/<%= checker.file %>" accept-charset="utf-8">
            <button type="submit">Remove</button>
        </form>
    <% } %>
    </div>
</body>
</html>