<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>OGS</title>
    <style>
        .description {
            white-space: pre-wrap;
        }
        iframe {
            width: 800px;
            height: 1000px;
        }
        *:not(.MJX-TEX *) {
            font-family: sans-serif;
            color: #333;
        }
        *, p, ul, ol, li {
            margin: 0;
            margin-block: 0;
        }
        p {
            line-height: 30px;
        }
        li {
            margin-top: -5px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px #888 solid;
            padding: 12px 15px;
        }
        .container {
            margin: 100px auto;
            width: 850px;
        }
        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px #ccc solid;
            margin-bottom: 15px;
        }
        code, .code {
            border: 1px #aaa solid;
            padding: 5px 10px;
            background-color: #eee;
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        code {
            display: inline-block;
            line-height: normal;
        }
        .code {
            display: block;
        }
        .code * {
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        .cross {
            margin-left: 5px;
            font-size: 15px;
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Grading of <%= num %></h1>
        <form method="POST" action="/grading/<%= num %>" accept-charset="utf-8" enctype="multipart/form-data">
            Subtasks:
            <table id="subtask">
                <tr>
                    <th>#</th>
                    <th>TL</th>
                    <th>WL</th>
                    <th>ML</th>
                    <th>Hierarchy</th>
                    <th>Dataset</th>
                    <th>Regex</th>
                    <th>Validator</th>
                    <th>Checker</th>
                    <th>Marks</th>
                    <th>Functions</th>
                </tr>
            </table>
            <button type="button" onclick="addSubtask();">Add</button>
            <br>
            Languages:
            <table id="languages">
                <tr>
                    <th>#</th>
                    <th>Language</th>
                    <th>Command</th>
                    <th>Arguments</th>
                    <th>Submitting Files</th>
                    <th>Sample Code</th>
                    <th>Necessary Helpers</th>
                    <th>Functions</th>
                    <th>Test</th>
                </tr>
            </table>
            <button type="button" onclick="addLanguage();">Add</button>
            <!-- <button type="submit">Apply</button> -->
        </form>
        <a href="/view/<%= num %>">Back</a>
    </div>

    <script>
        function swap(x, y) {
            var sib = y.nextSibling === x ? y : y.nextSibling;
            x.parentNode.insertBefore(y, x);
            y.parentNode.insertBefore(x, sib);
            // reenumerate();
        }
        function reenumerateSubtask() {
            var len = $('#subtask tr:gt(0)').length;
            $('#subtask tr:gt(0)').each(function (idx) {
                $(this).find('td:eq(0)').html(idx + 1);
                $(this).find('td:eq(1) input').attr('name', idx + 'tl');
                $(this).find('td:eq(2) input').attr('name', idx + 'wl');
                $(this).find('td:eq(3) input').attr('name', idx + 'ml');
                $(this).find('td:eq(4) div').attr('id', idx + 'hierarchyContainer');
                $(this).find('td:eq(4) input').attr('id', idx + 'hierarchyInput');
                $(this).find('td:eq(4) button').off('click');
                $(this).find('td:eq(4) button').click(function () {
                    const val = $(`#${idx}hierarchyInput`).val();
                    $(`#${idx}hierarchyInput`).val('');
                    var len = $(`#${idx}hierarchyContainer .listEle`).length;
                    $(`#${idx}hierarchyContainer`).append(`<div class="listEle" id="${len}listEle">${val}<span class="cross" onclick="$('#${len}listEle').hide();">×</span></div>`);
                });
                $(this).find('td:eq(5) select').attr('name', idx + 'dataset');
                $(this).find('td:eq(6) input').attr('name', idx + 'regex');
                $(this).find('td:eq(7) select').attr('name', idx + 'validator');
                $(this).find('td:eq(8) select').attr('name', idx + 'checker');
                $(this).find('td:eq(9) input').attr('name', idx + 'marks');
                $(this).find('td:eq(10) button:eq(0)').off('click');
                $(this).find('td:eq(10) button:eq(0)').click(function () {
                    $(`#subtask tr:gt(0):eq(${idx})`).remove();
                    reenumerateSubtask();
                });
                $(this).find('td:eq(10) button:gt(0)').remove();
                if (idx > 0) $(this).find('td:eq(10)').append(`<button type="button" onclick="swap($(\'#examples tr:gt(0):eq(${idx})\').get(0), $(\'#examples tr:gt(0):eq(${idx - 1})\').get(0))">Up</button>`);
                if (idx < len - 1) $(this).find('td:eq(10)').append(`<button type="button" onclick="swap($(\'#examples tr:gt(0):eq(${idx})\').get(0), $(\'#examples tr:gt(0):eq(${idx + 1})\').get(0))">Down</button>`);
            });
        }
        function addSubtask() {
            $('#subtask tr:last').after(`<tr><td>0</td><td><input type="text"> ms</td><td><input type="text"> ms</td><td><input type="text"> bytes</td><td><div class="list"></div>
    <input type="text"><button type="button">Add</button>
</td><td><select>
<% data.forEach(function (item, idx) { %>
    <option value="<%= item.name %>"><%= item.name %></option>
<% }); %>
                </select></td><td><input type="text"></td><td><select>
    <option value="none">None</option>
<% helper.forEach(function (item, idx) { %>
    <option value="helper/<%= item %>"><%= item %></option>
<% }); %>
                </select></td><td><select>
<% checkers.forEach(function (item, idx) { %>
    <option value="checkers/<%= item.file %>"><%= item.file %> - <%= item.description %></option>
<% }); %>
<% helper.forEach(function (item, idx) { %>
    <option value="helper/<%= item %>"><%= item %></option>
<% }); %>
                </select></td><td><input type="text"></td><td><button type="button">Delete</button></td></tr>`);
            reenumerateSubtask();
        }
        function addLanguage() {
            
        }
        reenumerateSubtask();
    </script>
</body>
</html>