<!DOCTYPE html>
<html>
<head>
    <title>OGS</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>History of <%= num %></h1>
        <table>
            <tr>
                <td>#</td>
                <td>Document</td>
                <td>User</td>
                <td>Date</td>
                <td>Comment</td>
                <td>More</td>
            </tr>
    <% history.forEach(function (item) { %>
            <tr>
                <td><%= item.cnt %></td>
                <td><a href="/view/<%= item.problem %>"><%= item.problem %></a></td>
                <td><%= item.user %></td>
                <td><%= item.date %></td>
                <td><%= getHistory(item.problem, item.user, item.type, item.arg) %></td>
                <td><a href="/row/<%= item.cnt %>">#</a></td>
            </tr>
    <% }); %>
        </table>
        <div class="pages">
    <% let pageList = [ page ]; %>
    <% if (1 != page) pageList.push(1); %>
    <% if (page != pages) pageList.push(pages); %>
    <% for (var i = 0; page - (1 << i) > 1; i++) pageList.push(page - (1 << i)); %>
    <% for (var i = 0; page + (1 << i) < pages; i++) pageList.push(page + (1 << i)); %>
    <% pageList.sort(); %>
    <% for (var i = 0; i < pageList.length; i++) { %>
            <a href="/history/<%= num %>?page=<%= pageList[i] %>"><button<% if (pageList[i] == page) { %> class="ok"<% } %>><%= pageList[i] %></button></a>
    <% } %>
        </div>
        <a href="/">Main</a>
    </div>
</body>
</html>