<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1><%= title %> submissions</h1>
        <table>
            <tr>
                <td>#</td>
                <td>Author</td>
                <td>Result</td>
                <td>Date</td>
                <td>Time</td>
                <td>Memory</td>
                <td>More</td>
            </tr>
    <% submissions.forEach(function (item) { %>
            <tr>
                <td><%= item.cnt %></td>
                <td><%= item.user %></td>
                <td><%= getResult(item.result) %></td>
                <td><%= item.submitDate %></td>
                <td><%= item.time %> ms</td>
                <td><%= item.memory / 1024 %> kB</td>
                <td><a href="/detail/<%= item.id %>">#</a></td>
            </tr>
    <% }); %>
        </table>
        <a href="/view/<%= num %>"><button type="button">Problem</button></a>
    </div>
</body>
</html>