<!DOCTYPE html>
<html>
<head>
    <title>OGS</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Welcome to OGS</h1>
    <% if (!user) { %>
        <a href="/signin"><button type="button">Sign in</button></a>
    <% } else { %>
        <p>Hello <%= user.user %></p>
        <a href="/signout"><button type="button">Sign out</button></a>
    <% } %>
        <a href="/users"><button type="button">Users</button></a>
        <a href="/submissions"><button type="button">Submissions</button></a><br>
    <% if (user && user.admin) { %><p>You are admin <a href="/checkers">Checkers</a> <a href="/redirections">Redirections</a> <a href="/languages">Languages</a><br></p><% } %>
        <table>
            <tr>
                <td>#</td>
                <td>Title</td>
                <td># Submissions</td>
                <td># Acceptions</td>
            </tr>
    <% problems.forEach(function (item) { %>
            <tr>
                <td><%= item.num %></td>
                <td><a href="/view/<%= item.num %>"><%= item.title %></a></td>
                <td><%= item.submitCnt %></td>
                <td><%= item.correctCnt %></td>
            </tr>
    <% }); %>
        </table>
        <input type="text" id="go"><button onclick="window.location.href = '/view/' + $('#go').val();">Go</button>
    </div>
</body>
</html>