<!DOCTYPE html>
<html>
<head>
    <title>OGS</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Welcome to OGS</h1>
    <% if (!user) { %>
        <a href="/signin"><button type="button">Sign in</button></a>
    <% } else { %>
        <p>Hello <%= user.user %></p>
        <a href="/signout"><button type="button">Sign out</button></a>
    <% } %>
        <a href="/users"><button type="button">Users</button></a>
        <a href="/submissions"><button type="button">Submissions</button></a><br>
    <% if (user && user.admin) { %><p>You are admin <a href="/checkers">Checkers</a> <a href="/redirections">Redirections</a> <a href="/languages">Languages</a><br></p><% } %>
        <table>
            <tr><td style="padding: 0;"><table class="border-none">
                <td width="30%">#</td>
                <td width="30%">Title</td>
                <td width="20%"># Submissions</td>
                <td width="20%"># Acceptions</td>
            </table></td></tr>
    <% problems.forEach(function (item) { %>
            <tr><td><div class="rippleCover"><table class="border-none"><tr>
                <td width="30%"><%= item.num %></td>
                <td width="30%"><a href="/view/<%= item.num %>"><%= item.title %></a></td>
                <td width="20%"><%= item.submitCnt %></td>
                <td width="20%"><%= item.correctCnt %></td>
            </tr></table></div></td></tr>
    <% }); %>
        </table>
        <div class="pages">
    <% let pageList = [ page ]; %>
    <% if (1 < page) pageList.push(1); %>
    <% if (page < pages) pageList.push(pages); %>
    <% for (var i = 0; page - (1 << i) > 1; i++) pageList.push(page - (1 << i)); %>
    <% for (var i = 0; page + (1 << i) < pages; i++) pageList.push(page + (1 << i)); %>
    <% pageList.sort(); %>
    <% for (var i = 0; i < pageList.length; i++) { %>
            <a href="/?page=<%= pageList[i] %>"><button<% if (pageList[i] == page) { %> class="ok"<% } %>><%= pageList[i] %></button></a>
    <% } %>
        </div>
        <input type="text" id="go"><button onclick="window.location.href = '/view/' + $('#go').val();">Go</button>
    </div>
</body>
</html>