<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>OGS</title>
    <style>
        .description {
            white-space: pre-wrap;
        }
        iframe {
            width: 800px;
            height: 1000px;
        }
        *:not(.MJX-TEX *) {
            font-family: sans-serif;
            color: #333;
        }
        *, p, ul, ol, li {
            margin: 0;
            margin-block: 0;
        }
        p {
            line-height: 30px;
        }
        li {
            margin-top: -5px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px #888 solid;
            padding: 12px 15px;
        }
        .container {
            margin: 100px auto;
            width: 850px;
        }
        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px #ccc solid;
            margin-bottom: 15px;
        }
        code, .code {
            border: 1px #aaa solid;
            padding: 5px 10px;
            background-color: #eee;
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        code {
            display: inline-block;
            line-height: normal;
        }
        .code {
            display: block;
        }
        .code * {
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to OGS</h1>
    <% if (!user) { %>
        <a href="/signin">Sign in</a>
    <% } else { %>
        <p>Hello <%= user.user %></p>
        <a href="/signout">Sign out</a>
    <% } %>
        <a href="/users">Users</a>
        <a href="/submissions">Submissions</a><br>
    <% if (user && user.admin) { %><p>You are admin <a href="/checkers">Checkers</a> <a href="/redirections">Redirections</a> <a href="/languages">Languages</a><br></p><% } %>
        <table>
            <tr>
                <td>#</td>
                <td>Title</td>
                <td>Grading Style</td>
                <td># Submissions</td>
                <td># Acceptions</td>
            </tr>
    <% problems.forEach(function (item) { %>
            <tr>
                <td><%= item.num %></td>
                <td><a href="/view/<%= item.num %>"><%= item.title %></a></td>
                <td><%= item.gradingStyle %></td>
                <td><%= item.submitCnt %></td>
                <td><%= item.correctCnt %></td>
            </tr>
    <% }); %>
        </table>
        <input type="text" id="go"><button onclick="window.location.href = '/view/' + $('#go').val();">Go</button>
    </div>
</body>
</html>