<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= info.title %></title>
    <style>
        .description {
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<h1><%= info.title %></h1>
Time limit: <%= info.tl / 1000 %> seconds<br>
Memory limit: <%= info.ml / 1000000 %> MiB<br>
<div class="description"><%= content %></div><br>
<a href="/<%= num %>/submit">Submit</a>
<a href="/<%= num %>/submissions">List</a>
<a href="/">Main</a>
</body>
</html>