<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/view/<%= num %>/" />
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title><%= info.title %></title>
    <style>
        .description, .marked {
            white-space: pre-wrap;
        }
        iframe {
            width: 800px;
            height: 1000px;
        }
        *:not(.MJX-TEX *) {
            font-family: sans-serif;
            color: #333;
        }
        *, p, ul, ol, li {
            margin: 0;
            margin-block: 0;
        }
        p {
            line-height: 30px;
        }
        li {
            margin-top: -5px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px #888 solid;
            padding: 12px 15px;
        }
        .container {
            margin: 100px auto;
            width: 850px;
        }
        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px #ccc solid;
            margin-bottom: 15px;
        }
        code, .code {
            border: 1px #aaa solid;
            padding: 5px 10px;
            background-color: #eee;
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        code {
            display: inline-block;
            line-height: normal;
        }
        .code {
            display: block;
        }
        .code * {
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        .example {
            width: 100%;
            display: inline-block;
        }
        .input {
            width: calc(50% - 4px);
            margin-right: 4px;
            float: left;
        }
        .output {
            width: calc(50% - 4px);
            margin-left: 4px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <% contents.forEach(function (item, idx) { %>
            <div class="description desc<%= idx %>" <% if (idx != 0) { %>style="display: none;"<% } %>><h1 class="marked"><%- item.title %></h1></div>
        <% }); %>
        <% if (user && user.admin) { %>
        <a href="/description/<%= num %>"><button>Description</button></a>
        <a href="/solution/<%= num %>"><button>Solution</button></a>
        <a href="/provide/<%= num %>"><button>Providings</button></a>
        <a href="/helper/<%= num %>"><button>Helpers</button></a>
        <a href="/rename/<%= num %>"><button>Rename</button></a>
        <a href="/grading/<%= num %>"><button>Grading</button></a>
        <a href="/examples/<%= num %>"><button>Examples</button></a>
        <a href="/data/<%= num %>"><button>Dataset</button></a>
        <button>Move</button>
        <form method="POST" action="/delete/<%= num %>" accept-charset="utf-8">
            <button type="submit">Remove</button>
        </form><br>
        <% } %>
        <a href="/history/<%= num %>">History</a><br>
        <table>
            <tr>
                <td># submissions</td>
                <td># acceptions</td>
                <% if (info.tl) { %><td>Time Limit</td><% } %>
                <% if (info.ml) { %><td>Memory Limit</td><% } %>
            </tr>
            <tr>
                <td><%= infoSql.submitCnt %></td>
                <td><%= infoSql.correctCnt %></td>
                <% if (info.tl) { %><td><%= info.tl / 1000 %> second<% if (info.tl != 1000) { %>s<% } %></td><% } %>
                <% if (info.ml) { %><td><%= info.ml / 1000000 %> MiB</td><% } %>
            </tr>
        </table>
        <% if (redr) { %><p>Redirected to <a href="/view/<%= num %>"><%= info.title %></a></p><% } %>
        <p>Versions <select id="versions" onchange="changeContent();">
    <% contents.forEach(function (item, idx) { %>
            <option value="<%= idx %>" <% if (idx == 0) { %>selected<% } %>><%= item.name %></option>
    <% }); %>
        </select></p>
    <% contents.forEach(function (item, idx) { %>
    <% if (item.type === 'md') { %>
        <div class="description desc<%= idx %>" <% if (idx != 0) { %>style="display: none;"<% } %>><div class="marked"><%- item.content %></div></div>
    <% } else { %>
        <iframe class="description desc<%= idx %>" src="/view/<%= num %>/providing/<%= item.content %>" title="<%= item.name %>" <% if (idx != 0) { %>style="display: none;"<% } %>></iframe>
    <% } %>
    <% }); %>
        <br>
        <% if (info.gradingStyle !== 'ungradable') { %><a href="/submit/<%= num %>">Submit</a><% } %>
        <a href="/submissions/<%= num %>">List</a>
        <a href="/">Main</a>
        <% if (info.solutions) { %><a href="/solutions/<%= num %>">Solutions</a><% } %>
    </div>

    <script>
        function changeContent () {
            $(".description").hide();
            $(`.desc${$("#versions").find(":selected").val()}`).show();
        }
    </script>
    <script>
        $('.marked').each(function () {
            $(this).html(marked.parse($(this).html()));
        });
    </script>
    <script>
        MathJax = {
            tex: { inlineMath: [ [ '$', '$' ], [ '\\(', '\\)' ] ] }
        };
    </script>
</body>
</html>