<!DOCTYPE html>
<html>
<head>
    <title><%= info.title %></title>
    <base href="/view/<%= num %>/" />
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <% contents.forEach(function (item, idx) { %>
            <div class="description desc<%= idx %>" <% if (idx != 0) { %>style="display: none;"<% } %>><h1 class="marked"><%- item.title %></h1></div>
        <% }); %>
        <% if (user && user.admin) { %>
        <a href="/description/<%= num %>"><button>Description</button></a>
        <a href="/solution/<%= num %>"><button>Solution</button></a>
        <a href="/provide/<%= num %>"><button>Providings</button></a>
        <a href="/helper/<%= num %>"><button>Helpers</button></a>
        <a href="/rename/<%= num %>"><button>Rename</button></a>
        <a href="/grading/<%= num %>"><button>Grading</button></a>
        <a href="/examples/<%= num %>"><button>Examples</button></a>
        <a href="/data/<%= num %>"><button>Dataset</button></a>
        <button>Move</button>
        <form method="POST" action="/delete/<%= num %>" accept-charset="utf-8">
            <button type="submit">Remove</button>
        </form><br>
        <% } %>
        <a href="/history/<%= num %>"><button type="button">History</button></a><% if (gradable) { %><a href="/submit/<%= num %>"><button type="button" class="ok">Submit</button></a><% } %>
        <a href="/submissions/<%= num %>"><button type="button">Submissions</button></a>
        <a href="/"><button type="button">Main</button></a>
        <% if (info.solutions) { %><a href="/solutions/<%= num %>"><button type="button">Solutions</button></a><% } %>
        <br>
        <table>
            <tr>
                <td># submissions</td>
                <td># acceptions</td>
                <% if (tl !== Infinity) { %><td>Time Limit</td><% } %>
                <% if (ml !== Infinity) { %><td>Memory Limit</td><% } %>
            </tr>
            <tr>
                <td><%= infoSql.submitCnt %></td>
                <td><%= infoSql.correctCnt %></td>
                <% if (tl !== Infinity) { %><td><%= tl / 1000 %> second<% if (tl != 1000) { %>s<% } %></td><% } %>
                <% if (ml !== Infinity) { %><td><%= ml / 1000000 %> MiB</td><% } %>
            </tr>
        </table>
        <% if (redr) { %><p>Redirected to <a href="/view/<%= num %>"><%= info.title %></a></p><% } %>
        <p>Versions <select id="versions" onchange="changeContent();">
    <% contents.forEach(function (item, idx) { %>
            <option value="<%= idx %>" <% if (idx == 0) { %>selected<% } %>><%= item.name %></option>
    <% }); %>
        </select></p>
    <% contents.forEach(function (item, idx) { %>
    <% if (item.type === 'md') { %>
        <div class="description desc<%= idx %>" <% if (idx != 0) { %>style="display: none;"<% } %>><div class="marked"><%- item.content %></div></div>
    <% } else { %>
        <iframe class="description desc<%= idx %>" src="/view/<%= num %>/providing/<%= item.content %>" title="<%= item.name %>" <% if (idx != 0) { %>style="display: none;"<% } %>></iframe>
    <% } %>
    <% }); %>
        <br>
        <% if (gradable) { %><a href="/submit/<%= num %>"><button type="button" class="ok">Submit</button></a><% } %>
        <a href="/submissions/<%= num %>"><button type="button">Submissions</button></a>
        <a href="/"><button type="button">Main</button></a>
        <% if (info.solutions) { %><a href="/solutions/<%= num %>"><button type="button">Solutions</button></a><% } %>
    </div>

    <script>
        function changeContent () {
            $(".description").hide();
            $(`.desc${$("#versions").find(":selected").val()}`).show();
        }
    </script>
    <script>
        $('.marked').each(function () {
            console.log($(this).html());
            $(this).html(marked.parse($(this).html()).replace(/(?![^<]*>|[^<>]*<\/)(\s*\n)+/g, ''));
        });
    </script>
</body>
</html>