<!DOCTYPE html>
<html>
<head>
    <title>OGS</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>History # <%= num %></h1>
        <table>
            <tr>
                <td>Problem</td>
                <td><%= info.problem %></td>
            </tr>
            <tr>
                <td>User</td>
                <td><%= info.user %></td>
            </tr>
            <tr>
                <td>Date</td>
                <td><%= info.date %></td>
            </tr>
            <tr>
                <td>Comment</td>
                <td><%= getHistory(info.problem, info.user, info.type, info.arg) %></td>
            </tr>
            <tr>
                <td>Changelog</td>
                <td style="padding: 0;">
                    <table class="border-none">
                        <th>Column</th>
                        <th>Before</th>
                        <th>After</th>
                <% changelog.forEach(function (item) { %>
                        <tr>
                            <td><%= item.key %></td>
                            <td><%= item.before %></td>
                            <td><%= item.after %></td>
                        </tr>
                <% }); %>
                    </table>
                </td>
            </tr>
        </table>
        <a href="/">Main</a>
        <a href="/history/<%= prenum %>">List</a>
    </div>
</body>
</html>