<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OGS</title>
    <style>
        .description {
            white-space: pre-wrap;
        }
        iframe {
            width: 800px;
            height: 1000px;
        }
        *:not(.MJX-TEX *) {
            font-family: sans-serif;
            color: #333;
        }
        *, p, ul, ol, li {
            margin: 0;
            margin-block: 0;
        }
        p {
            line-height: 30px;
        }
        li {
            margin-top: -5px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            overflow-wrap: break-word;
            word-break: break-all;
        }
        th, td {
            border: 1px #888 solid;
            padding: 12px 15px;
        }
        .container {
            margin: 100px auto;
            width: 850px;
        }
        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px #ccc solid;
            margin-bottom: 15px;
        }
        code, .code {
            border: 1px #aaa solid;
            padding: 5px 10px;
            background-color: #eee;
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        code {
            display: inline-block;
            line-height: normal;
        }
        .code {
            display: block;
        }
        .code * {
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        .border-none {
            border-collapse: collapse;
            border: none;
        }
        .border-none tr:first-child td, .border-none:first-child th {
            border-top: none;
        }
        .border-none tr:last-child td, .border-none:last-child th {
            border-bottom: none;
        }
        .border-none tr td:first-child, .border-none th:first-child {
            border-left: none;
        }
        .border-none tr td:last-child, .border-none th:last-child {
            border-right: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>History # <%= num %></h1>
        <table>
            <tr>
                <td>Problem</td>
                <td><%= info.problem %></td>
            </tr>
            <tr>
                <td>User</td>
                <td><%= info.user %></td>
            </tr>
            <tr>
                <td>Date</td>
                <td><%= info.date %></td>
            </tr>
            <tr>
                <td>Comment</td>
                <td><%= getHistory(info.problem, info.user, info.type, info.arg) %></td>
            </tr>
            <tr>
                <td>Changelog</td>
                <td style="padding: 0;">
                    <table class="border-none">
                        <th>Column</th>
                        <th>Before</th>
                        <th>After</th>
                <% changelog.forEach(function (item) { %>
                        <tr>
                            <td><%= item.key %></td>
                            <td><%= item.before %></td>
                            <td><%= item.after %></td>
                        </tr>
                <% }); %>
                    </table>
                </td>
            </tr>
        </table>
        <a href="/">Main</a>
        <a href="/history/<%= prenum %>">List</a>
    </div>
</body>
</html>