<!DOCTYPE html>
<html>
<head>
    <title><%= info.title %></title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1><%= info.title %></h1>
        <p>Solutions <select id="versions" onchange="changeContent();">
    <% contents.forEach(function (item, idx) { %>
            <option value="<%= idx %>" <% if (idx == 0) { %>selected<% } %>><%= item.name %></option>
    <% }); %>
        </select></p>
    <% contents.forEach(function (item, idx) { %>
    <% if (item.type === 'md') { %>
        <div class="solution marked" id="<%= idx %>" <% if (idx != 0) { %>style="display: none;"<% } %>><%= item.content %></div>
    <% } else { %>
        <iframe class="solution" id="<%= idx %>" src="/view/<%= num %>/providing/<%= item.content %>" title="<%= item.name %>" <% if (idx != 0) { %>style="display: none;"<% } %>></iframe>
    <% } %>
    <% }); %>
        <br>
        <a href="/view/<%= num %>">Back</a>
    </div>

    <script>
        function changeContent () {
            $(".solution").hide();
            $(`#${$("#versions").find(":selected").val()}`).show();
        }
    </script>
    <script>
        $('.marked').each(function () {
            $(this).html(marked.parse($(this).html()).replace(/(?![^<]*>|[^<>]*<\/)(\s*\n)+/g, ''));
        });
    </script>
</body>
</html>