<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title><%= info.title %></title>
    <style>
        .description {
            white-space: pre-wrap;
        }
        iframe {
            width: 800px;
            height: 1000px;
        }
        *:not(.MJX-TEX *) {
            font-family: sans-serif;
            color: #333;
        }
        *, p, ul, ol, li {
            margin: 0;
            margin-block: 0;
        }
        p {
            line-height: 30px;
        }
        li {
            margin-top: -5px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px #888 solid;
            padding: 12px 15px;
        }
        .container {
            margin: 100px auto;
            width: 850px;
        }
        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px #ccc solid;
            margin-bottom: 15px;
        }
        code, .code {
            border: 1px #aaa solid;
            padding: 5px 10px;
            background-color: #eee;
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        code {
            display: inline-block;
            line-height: normal;
        }
        .code {
            display: block;
        }
        .code * {
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><%= info.title %></h1>
        <p>Solutions <select id="versions" onchange="changeContent();">
    <% contents.forEach(function (item, idx) { %>
            <option value="<%= idx %>" <% if (idx == 0) { %>selected<% } %>><%= item.name %></option>
    <% }); %>
        </select></p>
    <% contents.forEach(function (item, idx) { %>
    <% if (item.type === 'md') { %>
        <div class="solution marked" id="<%= idx %>" <% if (idx != 0) { %>style="display: none;"<% } %>><%= item.content %></div>
    <% } else { %>
        <iframe class="solution" id="<%= idx %>" src="/view/<%= num %>/providing/<%= item.content %>" title="<%= item.name %>" <% if (idx != 0) { %>style="display: none;"<% } %>></iframe>
    <% } %>
    <% }); %>
        <br>
        <a href="/view/<%= num %>">Back</a>
    </div>

    <script>
        function changeContent () {
            $(".solution").hide();
            $(`#${$("#versions").find(":selected").val()}`).show();
        }
    </script>
    <script>
        $('.marked').each(function () {
            $(this).html(marked.parse($(this).html()));
        });
    </script>
    <script>
        MathJax = {
            tex: { inlineMath: [ [ '$', '$' ], [ '\\(', '\\)' ] ] }
        };
    </script>
</body>
</html>