<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OGS</title>
    <style>
        .description {
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <h1>Solutions of <%= num %></h1>
<% if (solutions && solutions.length > 0) { %>
    <form method="POST" action="/solution/<%= num %>/delete" accept-charset="utf-8">
        <select name="solutions" id="versions" onchange="changeContent();">
<% solutions.forEach(function (item, idx) { %>
            <option value="<%= idx %>" <% if (idx == 0) { %>selected<% } %>><%= item.name %></option>
<% }); %>
        </select>
        <button type="submit">Delete</button>
<% solutions.forEach(function (item, idx) { %>
        <div class="solution" id="<%= idx %>" <% if (idx != 0) { %>style="display: none;"<% } %>>
            <a href="/solution/<%= num %>/edit/<%= idx %>"><button type="button">Edit</button></a><br>
            <span>Type: <%= item.type %></span><br>
            <span>Lang: <%= item.lang %></span><br>
            <% if (item.type === 'md') { %><span>filename: <%= item.filename %></span><% } %><% if (item.type === 'pdf') { %><span>path: <%= item.path %></span><% } %>
        </div>
<% }); %>
    </form>
<% } %>
    <a href="/solution/<%= num %>/add"><button>Add</button></a>
    <a href="/view/<%= num %>">Back</a>

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        function changeContent () {
            $(".solution").hide();
            $(`#${$("#versions").find(":selected").val()}`).show();
        }
    </script>
</body>
</html>