<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OGS</title>
    <style>
        .description {
            white-space: pre-wrap;
        }
        iframe {
            width: 800px;
            height: 1000px;
        }
        *:not(.MJX-TEX *) {
            font-family: sans-serif;
            color: #333;
        }
        *, p, ul, ol, li {
            margin: 0;
            margin-block: 0;
        }
        p {
            line-height: 30px;
        }
        li {
            margin-top: -5px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px #888 solid;
            padding: 12px 15px;
        }
        .container {
            margin: 100px auto;
            width: 850px;
        }
        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px #ccc solid;
            margin-bottom: 15px;
        }
        code, .code {
            border: 1px #aaa solid;
            padding: 5px 10px;
            background-color: #eee;
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
        code {
            display: inline-block;
            line-height: normal;
        }
        .code {
            display: block;
        }
        .code * {
            font-family: 'Menlo', 'Consolas', Arial, sans-serif !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Submissions</h1>
        <table>
            <tr>
                <td>#</td>
                <td>Problem</td>
                <td>Author</td>
                <td>Result</td>
                <td>Date</td>
                <td>Time</td>
                <td>Memory</td>
                <td>More</td>
            </tr>
    <% submissions.forEach(function (item) { %>
            <tr>
                <td><%= item.cnt %></td>
                <td><a href="/view/<%= item.problem %>"><%= item.title %></a></td>
                <td><%= item.user %></td>
                <td><%= getResult(item.result) %></td>
                <td><%= item.submitDate %></td>
                <td><%= item.time %> ms</td>
                <td><%= item.memory / 1024 %> kiB</td>
                <td><a href="/detail/<%= item.id %>">#</a></td>
            </tr>
    <% }); %>
        </table>
        <a href="/">Main</a>
    </div>
</body>
</html>