<!DOCTYPE html>
<html>
<head>
    <title>OGS</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Submissions</h1>
        <table>
            <tr>
                <td>#</td>
                <td>Problem</td>
                <td>Author</td>
                <td>Result</td>
                <td>Date</td>
                <td>Time</td>
                <td>Memory</td>
                <td>More</td>
            </tr>
    <% submissions.forEach(function (item) { %>
            <tr>
                <td><%= item.cnt %></td>
                <td><a href="/view/<%= item.problem %>"><%= item.title %></a></td>
                <td><%= item.user %></td>
                <td><%= getResult(item.result) %></td>
                <td><%= item.submitDate %></td>
                <td><%= item.time %> ms</td>
                <td><%= item.memory / 1024 %> kiB</td>
                <td><a href="/detail/<%= item.id %>">#</a></td>
            </tr>
    <% }); %>
        </table>
        <div class="pages">
    <% let pageList = [ page ]; %>
    <% if (1 < page) pageList.push(1); %>
    <% if (page < pages) pageList.push(pages); %>
    <% for (var i = 0; page - (1 << i) > 1; i++) pageList.push(page - (1 << i)); %>
    <% for (var i = 0; page + (1 << i) < pages; i++) pageList.push(page + (1 << i)); %>
    <% pageList.sort(); %>
    <% for (var i = 0; i < pageList.length; i++) { %>
            <a href="/submissions?page=<%= pageList[i] %>"><button<% if (pageList[i] == page) { %> class="ok"<% } %>><%= pageList[i] %></button></a>
    <% } %>
        </div>
        <a href="/">Main</a>
    </div>
</body>
</html>