<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <style>
        textarea {
            width: 700px;
            height: 300px;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <form method="POST" action="/submit/<%= num %>" accept-charse="utf-8">
        Language: C++20<br>
        Username: <%= user.user %><br>
        <textarea name="code"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <a href="/view/<%= num %>">Back</a>
</body>
</html>