<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <form method="POST" action="/submit/<%= num %>" accept-charset="utf-8" id="submit" enctype="multipart/form-data" style="width: 100%;">
            Language <select name="lang" id="lang" onchange="change();">
<% grading.languages.forEach(function (item) { %>
                <option value="<%= item.lang %>"><%= item.langName %></option>
<% }); %>
            </select>
    <% if (error) { %><span style="color: red;"><%= error %></span><% } %>
    <% if (stderr) { %><code style="color: red;"><%= stderr %></code><% } %>
    <% if (message) { %><span style="color: blue;"><%= error %></span><% } %>
            <div id="submittings">
            </div>
        </form>
        <form method="POST" action="/submit/<%= num %>/retry" accept-charset="utf-8" id="retry"></form><br>
    <% if (error) { %>
            <button type="submit" form="submit" class="ok">Submit</button>
            <button type="submit" form="retry">Edit</button>
    <% } else { %>
            <button type="submit" form="submit" class="ok">Submit</button>
    <% } %>
        <a href="/view/<%= num %>"><button type="button">Back</button></a>
        <script>
            function change() {
                var val = $('#lang').val();
                var submittings = $('#submittings');
                submittings.html('');
<% grading.languages.forEach(function (item) { %>
                if (val === '<%= item.lang %>') {
<% item.submittings.forEach(function (item) { %>
                    submittings.append(`<span class="fileLabel"><%= item %></span><input type="file" name="upload-<%= item %>"> or <textarea class="submission" name="code-<%= item %>"></textarea>`);
<% }); %>
                }
<% }); %>
            }
            change();
        </script>
    </div>
</body>
</html>