<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Date</td>
            <td>Functions</td>
        </tr>
<% users.forEach(function (item) { %>
        <tr>
            <td><%= item.cnt %></td>
            <td><%= item.user %></td>
            <td><%= item.registerDate %></td>
            <td><% if (item.admin) { %>Admin<% } %><% if (user && user.admin) { %><form method="POST" action="/users/<%= item.user %>/admin" accept-charse="utf-8">
                <button type="submit">Make admin</button>
            </form><form method="POST" action="/users/<%= item.user %>/delete" accept-charse="utf-8">
                <button type="submit">Remove</button>
            </form><% } %></td>
        </tr>
<% }); %>
    </table>
    <a href="/">Main</a>
</body>
</html>